<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle();">menu</mat-icon>
        </button>
        <h1>Angular Material Sidenav</h1>
        <button mat-raised-button class="button" (click)="logout()"><i class="fa fa-sign-out"
                aria-hidden="true"></i>&nbsp;Logout</button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav opened="true" mode="side">
        <mat-nav-list>
            <a mat-list-item>Home</a>
            <a mat-list-item>Account</a>
            <a mat-list-item>About Us</a>
            <a mat-list-item>Contact Us</a>
            <a mat-list-item>Help</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 88vh;">
            <app-employees></app-employees>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>